<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password | WhisperRx</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="login-body">
    <div class="login-container">
        <!-- Left side -->
        <div class="login-left">
            <h2>RESET <span>!</span></h2>
            <p>Enter your email to reset your password</p>
            <img src="{{ url_for('static', filename='uploads/images/doctor.webp') }}" alt="Doctor Icon">
        </div>

        <!-- Right side -->
        <div class="login-right">
            <h2>Forgot Password</h2>
            <form method="POST">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="your@email.com" required>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="error">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="form-footer">
                    <span>Return to <a href="{{ url_for('login') }}">Login</a></span>
                </div>
            </form>
        </div>
    </div>
</body>
<footer>
    <p>© 2025 WhisperRx | All Rights Reserved</p>
    <p style="margin-top: 6px;">
      Created by 
      <a href="https://www.linkedin.com/in/aashiksharif/" target="_blank" style="color: black; text-decoration: underline;">Aashik Sharif Basheer Ahamed</a> &amp; 
      <a href="https://www.linkedin.com/in/shlok-tomar/" target="_blank" style="color: black; text-decoration: underline;">Shlok Tomar</a>
    </p>
  </footer>

</html>
