<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WhisperRx</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body class="homepage-body">
  <header class="homepage-header">
    <a href="{{ url_for('index') }}" class="logo">WhisperRx</a>
    <a href="{{ url_for('about_page') }}" class="nav-btn">About</a>

  </header>

  <main class="hero-container">
    <section class="hero">
      <h1 class="hero-title">WhisperRx</h1>
      <p class="hero-subtitle">
        Revolutionizing medical documentation through voice and AI-powered scribing.
      </p>

      <div class="hero-buttons">
        <a href="{{ url_for('login') }}" class="record-btn record-btn--home">
          <span>Login</span>
        </a>
        <a href="{{ url_for('signup') }}" class="record-btn record-btn--home">
          <span>Signup</span>
        </a>
      </div>
    </section>
  </main>
  <div class="flex-wrapper" style="min-height: 25vh;">
    <footer style="margin-top: auto;">
        <p>© 2025 WhisperRx | All Rights Reserved</p>
        <p style="margin-top: 6px;">
          Created by 
          <a href="https://www.linkedin.com/in/aashiksharif/" target="_blank" style="color: black; text-decoration: underline;">Aashik Sharif Basheer Ahamed</a> &amp; 
          <a href="https://www.linkedin.com/in/shlok-tomar/" target="_blank" style="color: black; text-decoration: underline;">Shlok Tomar</a>
        </p>
      </footer>
    </div>
</body>

</html>
