<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="login-body">
    <div class="login-container">
        <div class="login-left">
            <h2>RESET 🔒</h2>
            <p>Choose a new password</p>
            <img src="{{ url_for('static', filename='uploads/images/doctor.webp') }}">
        </div>
        <div class="login-right">
            <h2>Set New Password</h2>
            <form method="POST">
                <label>New Password</label>
                <input type="password" name="password" required>

                <button type="submit" class="btn full">Reset Password</button>
                <div class="form-footer">
                    <a href="{{ url_for('login') }}">Return to Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
